POSTBOX_LOGIN=your_yandex_postbox_key_id
POSTBOX_PASSWORD=your_yandex_postbox_secret_key
POSTBOX_FROM_EMAIL=notify@example.com
ENABLE_REAL_EMAILS=True
FRONTEND_BASE_URL=http://localhost:5174
EMAIL_REPLY_TO=reply@example.com
EMAIL_UNSUBSCRIBE_EMAIL=unsubscribe@example.com
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_TASK_ALWAYS_EAGER=True